Package: com.exoticswingset.stopastupidtheif
Name: StopAStupidThief
Depends: mobilesubstrate
Version: 1.4
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ExoticSwingset
Author: ExoticSwingset
Section: Tweaks
